
<h4>Looking for a new car? Make sure to get the most fuel efficient to protect the enviornment form fuel emission and oil depletion</h4>
<p>Select a car:</p>
<select [ngModel]="carSelectedValue" (ngModelChange)="getCarModel($event)">
  <option *ngFor="let item of dataItems" [ngValue]="item.text">
    {{item.text}}
  </option>
</select>
<p> Models are listed by best (fuel efficency) rating to worst</p>
<table>
  <tr>
    <th>Model</th>
    <th>Is Hybrid (electric)</th>
    <th>MPG - city</th>
    <th>MPG - highway</th>
    <th>Rating</th>
    <th>Fuel Type</th>
  </tr>
  <tr *ngFor="let item2 of infoArray">
    <td>{{item2.model}}</td>
     <td>{{item2.phevBlended}}</td>
      <td>{{item2.city08}}</td>
       <td>{{item2.highway08}}</td>
        <td>{{item2.feScore}}</td>
         <td>{{item2.fuelType}}</td>
     
  </tr>
</table>


